*,
*::before,
*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family:  Ariel, sans-serif;
}

/* Bars - SECTION ******************************************************************************************************************************************/
.bars-container{
  min-width: 1000px;
}
/* Utilities  *********************************/
/* Bar - Heading */
.bar-sub-heading{
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #ccc;
}
/* Bar - Sub-heading */
.bar-heading{
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  color: #fff;
}
/* Bar - Sub-heading - DARK */
.bar-sub-heading-dark{
  color: black;
  font-weight: 700;
}
/* Bar - Sub-heading - LINK */
.bar-sub-heading-link{
  color: #0066c0;
  text-decoration: none;
  font-weight: 700;
}
.bar-sub-heading-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c45500;
}
/* Nav bar - right side - item */
.nav-item{
  display: flex;
  margin-top: 5px;
  text-decoration: none;
  padding: 10px 7px;
}
.nav-item:hover{
  outline: 1px solid #fff; /* outside of box*/
}
/* Icon arrow - down */
.arrow-icon{
  border-width: 4px;
  border-color: transparent;
  font-size: 0;
  line-height: 0;
  border-style: solid;
  border-top-color: #a7acb2;
}
/* Bar - Navigation **************************/
#nav-bar{
  background:#131921;
  width: 100%;
  display: flex;
}
/* Nav LEFT */
.nav-left{
  height: 60px;
  display: flex;
}

/* Hamburger */
.nav-ham{
  height: 40px;
  width: 38px;
  margin: 10px 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-ham:hover{
  border-color: #fff;
}
.hm-icon{
  width: 20px;
  height: 18px;
  background-image: url('img/nav-sprite-global.png');
  background-position: -136px -255px;
}
/* Logo */
.nav-logo{
  width: 165px;
  height: 100%;
  padding-top: 5px;
  padding-right: 4px;
}
.nav-logo-link{
  display: inline-block; /* to display border when hover */
  height: 50px;
  width: 100%;
}
.nav-logo-link:hover{
  outline: 1px solid #fff; /* outside of box*/
}
.logo-img{
  width: 97px;
  height: 30px;
  margin-top: 10px;
  margin-left:10px ;
  display: block;
  background-image: url('img/nav-sprite-global.png');
  background-position: -10px -51px;
}

/* Nav SEARCH ******************************************************************************************************************************************/
.nav-search{
  height: 100%;
  width: 100%;
  padding: 10px 3px;
  background: purple;
}
.nav-search-bar{
  height: 40px;
  width: auto;
  border-radius: 4px;
  background: yellow;
}

/* Nav Right ******************************************************************************************************************************************/
.nav-right{
  height: 100%;
  display: flex;
  padding: 0 5px;
}

/* Languages */
.nav-language{
  align-items: center;
}
.flag-icon{
  background-image: url('img/flags.png');
  background-position: 0 -130px;
  width: 24px;
  height: 18px;
  display: inline-block;
  margin-right: 3px;
}
.nav-language .arrow-icon {
  align-self: flex-end;
}

/* Orders */
.nav-orders{
  flex-direction: column; /******/
}

/* Account + lists */
.nav-account{
  flex-direction: column; /******/
}

/* Cart */
.nav-cart{
  align-items: flex-end; /**************/
  position: relative;
}
.cart-icon{
  background-image: url('img/nav-sprite-global.png');
  display: inline-block;
  background-position: -10px -340px;
  width: 38px;
  height: 26px;
}
.cart-counter{
  position: absolute;
  color: orange;
  top: 10px;
  left: 25px;
  font-size: 17px;
  font-weight: 700;

}

/* Bar - main ******************************************************************************************************************************************/
#bar-main{
  background:#232F3E;
  width: 100%;
  display: flex;
}
/* Deliver to */
.bar-main-left{
  flex: 1;
}
.deliver{
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  width: min-content;
}
.deliver:hover{
  outline: 1px solid white;
}
.location-icon{
  background-image: url('img/nav-sprite-global.png');
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: -68px -340px;
}
.deliver .text-container{
  display: flex;
  flex-direction: column;
  margin-left:3px;
}

/* Center */
.bar-main-center{
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  flex:3;
}
.bar-main-center-item {
  text-decoration: none;
  font-weight: 700;
  padding: 5px 10px;
}
.bar-main-center-item:hover {
  outline: 1px solid #fff;
}
/* left */
.bar-main-right{
  display: flex;
  align-items: center;
  flex:1;
}
.covid{
  padding: 5px 10px;
  margin-right: 5px;
}
.covid:hover{
  outline: 1px solid #fff;
}
/* Bar - Message ******************************************************************************************************************************************/
.message-bar{
  background: #d8f7eb;
  padding: 14px 18px;
}

/* Main container ******************************************************************************************************************************************/
.main-container{
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1500px;
  background-color: #fff;
  font-size: 13px;
  padding: 0 30px;
}

/* Path  ******************************************************************************************************************************************/
.path{
  display: flex;
  list-style: none;
  align-items: center;
  padding: 10px 18px;
}
.path-text{
  color: #565959;
  font-size:12px;
}
.path-divider{
  align-self: flex-end;
  font-weight: 600;
  margin: 0 5px;
}
.path-text-link{
  text-decoration: none;
  font-weight: 500;
}
.path-text-link:hover{
  text-decoration: underline;
}

/* Product  ******************************************************************************************************************************************/
.product-container{
  display: flex;
  width: 100%;
}

/* Product Images  ***************/
/* container */
.product-gallery-container{
  display: flex;
}
/* Image Preview List */
.images-preview-list{
  width: 40px;
  list-style: none;
  margin-top: 15px;
}
.image-preview-item{
  border: 0.5px solid #565959;
  margin-top: 5px;
}
.image-preview-item:hover{
  border: 1px solid #e77600;
  border-radius: 2px;
  box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}
/* Image view */
.image-view{
  max-height: 487px;
  max-width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-image{
  margin: 20px;
  height: 100%;
  width: auto;
}

/* Product Content ******************************************************************************************************************************************/

/* product content: content sec + side sec */
.product-content-container{ 
  display: flex;
}

/* product - Content section */
.product-content{
  width: 100%;
  padding: 0 20px;
}
.product-link{
  text-decoration: none;
  font-size: 13px;
  color:#0066c0;
  cursor: pointer;
  font-weight: 700;
}
.product-link:hover{
  text-decoration: underline;
  color: #c45500;
}
.product-heading{
  font-size: 21px;
  font-weight: 600;
  color: #565959;
}
.customer-review{
  display: flex;
  align-items: center;
}
.stars-section{
  text-decoration: none;
}
.stars-icon{
  background: url('img/Amazon-stars.png');
  display: inline-block;
  width: 80px;
  height: 18px;
  background-position: -21px -368px;
}
.arrow-icon-product{
  background: url('img/Amazon-stars.png');
  display: inline-block;
  width:7px;
  height: 5px;
  background-position: -90px -5px;
  vertical-align: text-top;
}
.product-ratings{
  padding-left: 20px;
}
.separator-line{
  border: 1px solid #e7e7e7;
 
}
.price{
  margin-top: 5px;
}
.price-heading{
  color: #565959 ;
  font-weight: 700;
  font-size: 13px;
  padding-right: 5px;
}
.price-value{
  color: #B12704 ;
  font-weight: 700;
  font-size: 17px;
}
.product-info-heading{
  color: #0F1111 ;
  font-weight: 700;
  font-size: 13px;
}
.size-heading{
  padding: 10px 0 5px 0;
}
.color{
  padding-top:10px;
}
.product-info-content{
  color: #0F1111 ;
  font-weight: 400;
  font-size: 13px;
}
.properties{
  padding-left: 10px;
  margin-top: 10px;
}

/* product side section**************************************/
.product-side{
  width: 244px;
  
}

.buy-section{
  border: 1px #ddd solid;
  border-radius: 4px;
  padding: 15px;
}

.buy-text{
  width:100%;
  text-align: center;
}

.btn-cart {
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 2px;
  margin: 15px 0;
}
.btn-content{
  display: flex;
  align-items: center;
}
.btn-text{
  margin: 0 auto;
}
.cart-btn-icon{
  display: inline-block;
  background: url('img/Amazon-stars.png');
  height: 25px;
  width: 25px;
  background-position: -35px -5px;
}

.btn-Add-list{
  width: 100%;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border: 1px solid black;
  padding: 5px;
  margin-top: 15px;
  border-radius: 4px;
}













